<h1>Fork the Repository</h1>
<p>For DHData.Org to accept your contributions, you need to go through the following steps. Don't worry. There is no software to download or install on your computer.</p>
<h2>Step 1: Fork the "dhdata-site" repository</h2>
<p>To fork the repository for this site, go to <a href="https://github.com/dhdata/dhdata-site" target="_new">the GitHub page for the repository</a> and click the "Fork" button. This will create your own copy of the site.</p>
<div style="text-align: center;"><img src="/images/fork-dhdata-repo.png" width="640" height="31" vspace="0" hspace="0" border="0" style="border: 1px solid silver;"></div>
<h2>Step 2: Return to this editor</h2>
<p>After forking the site repository, return to <a href="/editor" target="_new">this editor</a>. It will detect that you have forked the repository and will show you the different types of content that you may contribute or edit.</p>
<h2>Step 3: Write your content</h2>
<p>Now you may create new recipes, datasets, or other types of content. If you are creating new content, the editor will provide you with an appropriate template, so don't worry about having to remember all of the different parts.</p>
<div style="text-align: center;"><img src="/images/edit-folder-list.png" width="640" height="446" vspace="0" hspace="0" border="0" style="border: 1px solid silver;"></div>
<h2>Step 4: Create a pull request</h2>
<p>After you have written or edited the content you would like to contribute, you will need to create a pull request using your fork in your GitHub account. Feel free to read through <a href="https://help.github.com/articles/using-pull-requests" target="_new">the GitHub help page for creating a pull request</a>.</p>
<div style="text-align: center;"><img src="/images/pull-request-loc.png" width="363" height="46" vspace="0" hspace="0" border="0" style="border: 1px solid silver;"></div>